<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>GeekSpeak</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>

	<body>
		<div class="flex-column justify-space-around">
			<header>
				<h1 id="logo">
					<span role="img" aria-label="retro game icon">👾</span>
					<a href="/">GeekSpeak</a>
				</h1>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						{{#if logged_in}}
							<li><a href="/dashboard">Dashboard</a></li>
							<li><a href="/logout">Logout</a></li>
						{{else}}
							<li><a href="/login">Login</a></li>
						{{/if}}
					</ul>
				</nav>
			</header>
			<main class="container container-fluid mt-5">
				<!-- Render the sub layout -->
				{{{body}}}
			</main>
			<footer>

			</footer>
		</div>

		<!-- Render script for logged in users only -->
		{{#if logged_in}}
			<script src="/js/logout.js"></script>
		{{/if}}
	</body>

</html>